__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.spec
.venv/
venv/
env/
.env
.idea/
.vscode/
*.log
*.rcm.cache.json
*.cache.*.json
*.cache.json
*.rcm.json.bak
*.rcm.cache.cm.json
*.rcm.cache.pm.json
